html {
  margin: 0;
  font-family: sans-serif;
}
.nav{
  display:flex;
  justify-content:center;
  gap:18px;
  padding:18px;
  background-color: black;
  border-bottom:1px solid gray;
  position:sticky;
  top:0;
}
.btn {
  display: inline-block;
  padding:12px 26px;
  background-color: #ffffff;
  color:#222;
  border-radius:10px;
  border:2px solid black;
  font-weight:600;
  box-shadow:0 2px 0 black;
  cursor:pointer;
  transition:transform .12s ease, box-shadow .12s ease;
}
.btn2{
  display: inline-block;  
  padding:12px 26px;
  background-color: #ffffff;
  color:#222;
  border-radius:10px;
  border:2px solid black;
  font-weight:600;
  box-shadow:0 2px 0 black;
  cursor:pointer;
  transition:transform .12s ease, box-shadow .12s ease;
  background:linear-gradient(#fafafa,#ededed);
}
table,
      th,
      td {
        border: 1px solid #e7e7e7;
      }
.projects{
  background-color: #212121;
  color: #ffffff;
  display: flex;
   align-items: center;
  justify-content: center;
   text-align: center;
  height: 100vh;
} 
.color {
        color: aliceblue;
        display: flex;
        flex-direction: row;
      }
